# ----------------------------
# Environment
# ----------------------------
.env
*.env
backend/.env
frontend/.env

# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
venv/
.venv/
env/

# ----------------------------
# Node
# ----------------------------
node_modules/
dist/
build/

# ----------------------------
# Vite
# ----------------------------
.vite/

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# OS
# ----------------------------
.DS_Store
Thumbs.db